.card-header{
  height: 200px;
  padding: 10px;
}

h2{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 39%;
}
.card{
    margin-bottom: 3%;
}

.card:hover{
    background-color: navy;
}

.card:hover a{
    color: white;
}

.card a:hover{
    color:white;
    text-decoration-line: none;
}
p{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 45%;
}
